.contaier {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

.margin {
    margin: 20px;
    background-color: red;
}

.padding {
    padding: 20px;
    background-color: blue;
}

.border {
    border: 1px solid black;
}

.before-after::before {
    content: '<';
    color: red;
    margin-right: 5px;
}

.before-after::after {
    content: '>';
    color: blue;
    margin-right: 5px;
}

.hover {
    background-color: green;
    padding: 20px;
}

.hover:hover {
    background-color: yellow;
    border: 1px solid black;
}